<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Invoices Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link th:href="@{css/style.css}" href="../../static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target="navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage"></a>
        </div>
        <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
            <button type="submit" class="btn  btn-sm btn-danger"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
        </form>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/invoices">Invoices</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Dr. House Hospital</h1>
    <p>We care about your health</p>

    <p>Invoices</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Patient Name</th>
                <th>Illness</th>
                <th>treatment</th>
                <th>Cost</th>
                <th>Date & Time</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="patientsInvoice: ${patientsInvoice}"  class="text-left">
                <td th:text="${patientsInvoice.name}">House</td>
                <td th:text="${patientsInvoice.illness}">Lupus</td>
                <td th:text="${patientsInvoice.treatment}">Lupus</td>
                <td th:text="${patientsInvoice.invoice}">9999.90</td>
                <td th:text="${patientsInvoice.timePayment}">00:00</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>