<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
    <title>dr.house</title>
</head>
<body>
<nav>

    <div class="nav-wrapper ">
        <a href="/" class="brand-logo">DR.house</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/inserPaitients">add Paitient</a></li>
            <li><a href="/invoices">invoices </a></li>
        </ul>
    </div>

    <center class="black-text text-darken-2"><h1 >welcome to our dr house</h1>
        <h5>Dr.house is a small hospital administration where by you could receive a Patient and Manages thier infos </h5>
    </center>
</nav>
<main >

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>
</html>